<div class="title">Speed Typing Game</div>
<cd-timer
  [countdown]="true"
  format="intelli"
  class="timer"
  id="timer"
  #basicTimer
  [startTime]="startTime"
></cd-timer>
<div class="dropdown" id="dropdown">
  <label id="difficultyselector" for="difficulty">Choose a difficulty:</label>
  <select name="difficulty" id="difficulty" [(ngModel)]="selectedDifficulty">
    <option (click)="changeTimer()" value="easy">Easy (20s)</option>
    <option (click)="changeTimer()" value="medium">Medium (30s)</option>
    <option (click)="changeTimer()" value="hard">Hard (40s)</option>
  </select>
</div>
<div class="start">
  <button class="startbutton" (click)="startGame()">
    Start!
  </button>
</div>
<div class="container">
  <div class="quote-display" #quoteDisplay></div>
  <textarea
    class="quote-input"
    #quoteInput
    cols="30"
    rows="10"
    (keyup)="checkCharacter($event)"
  ></textarea>
</div>
