/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  display:flex;
  justify-content:center;
  align-items: center;
  min-height: 10vh;
  margin: 0;
  background-color: grey;
  color: white;
  font-size: 2rem;
}
body, .quote-input {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}